# Visual Studio Code
/.vscode
!/.vscode/extensions.json

# config
/.config/*
!/.config/example.yml
!/.config/docker_example.env

# blender backups
*.blend1
*.blend2
*.blend3
*.blend4
*.blend5

# environment files
.env
.env.local
.env.production

# Rust
/cargo
/backend/target
/target

# Flutter
/flutter/.dart_tool
/flutter/.pub
/flutter/build
/flutter/.flutter-plugins
/flutter/.flutter-plugins-dependencies

# old-src
/old-src

# claude
.claude
