# environment files
.env
.env.local
.env.production

# Rust
/cargo
/target

# old-src
/old-src

# wireframe
/frontend-web/wireframe-ui-sample

# claude
.claude

# kilo
.kilo
.kilocode

# node
/frontend-web/node_modules
/frontend-web/dist

# playwright
.playwright-mcp